body {
    font-family:Helvetica, Arial, sans-serif;
    background-color: #0b7294;
}

.goalView {

    text-align: center;
    padding: 50px;
    margin: 50px;
    background: #0b7294;

    h1 {
        color: gold;
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 50px;
    }

    .buttons {
        width: 100%;
    },

    input {
        margin: 25px;
        border-radius: 5px;
    }

    input:focus {
        outline: none;
    }

    .goalList {
        text-align: left;
        .goal {
            margin: 25px auto;
            display: flex;
            max-width: 700px;

            p {
                display: inline-block;
                color: gold;
                flex: 1;
                font-size: 20px;
                padding: 10px;
            }

            select {
                padding: 10px;
                display: flex;
                margin-right: 20px;
                margin-top: 32px;
                font-size: 30px;

            }

            .x-button {
                display: flex;
            }
        }
    }
}

    input {
        border: 1px solid navy;
    }

.gen-button {
    width: 25%;
    background-color: cadetblue;
    border: 1px solid #057073;
    display: inline-block;
    cursor: pointer;
    color: gold;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}
.gen-button:hover {
    background-color: #005e61;
}
.gen-button:active {
    position: relative;
    top: 1px;
}

.gen-button:focus{
    outline: none;
}

.x-button {
    background-color: #f24537;
    border-radius: 5px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
.x-button:hover {
    background-color: #c62d1f;
}

.x-button:focus {
    outline: none;
}
